@import "tailwindcss";
@config "../../tailwind.config.ts";

:root {
  --background: #f8f9ff;
  --foreground: #0b1c30;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-manrope), Arial, Helvetica, sans-serif;
}
